.profile-link {
	display: flex;
	flex-direction: row;
}

.profile-link img {
	margin-right: 5px;
}

.skills {
	margin-top: 8px;
}

.summary-W8jya {
	display: flex;
	flex-direction: column;
	height: 95%;
	position: fixed;
	left: calc(50% - 425px);
	padding: 0px 14px;
	top: 55px;
    width: 260px;
}

.summary-W8jya .profile_photo {
	text-align: center
}

.summary-W8jya .profile_photo>img {
	border-radius: 3px;
	width: 80%
}

.summary-W8jya .desc {
	margin-top: 8px
}

.summary-W8jya .desc .name {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 14px;
	text-align: center
}

.summary-W8jya .desc .meta {
	font-weight: 500
}

.summary-W8jya .desc .contact {
	margin-top: 8px
}

.summary-W8jya .desc .contact span {
	color: #555;
	display: inline-block;
	width: 66px;
	font-weight: 600
}

.summary-W8jya .navigation {
	margin-top: 24px
}

.summary-W8jya .navigation .active>span {
	font-weight: bold
}

.summary-W8jya .navigation>li {
	display: inline-block
}

.summary-W8jya .navigation>li:before {
	content: '|';
	margin: 0 3px
}

.summary-W8jya .updated-at {
	font-size: 11px;
	margin-top: 10px
}

@media only screen and (max-width: 600px) {
	.summary-W8jya {
		position: static;
		display: flex;
		flex-direction: column;
		height: 95%;
		padding: 0;
		width: 260px
	}
}

@media only screen and (min-width: 600px) and (max-width: 1100px) {
	.summary-W8jya {
		display: flex;
		flex-direction: column;
		height: 95%;
		position: fixed;
		left: 55px;
		padding: 0px 14px;
		top: 35px;
		width: 260px
	}
}

.TimelineEntryActivity-gTI6a {
	margin-bottom: 7px;
	text-align: justify
}

.TimelineEntryActivity-gTI6a .desc .item-2 {
	padding-left: 12px
}

.TimelineEntryActivity-gTI6a .desc b {
	font-weight: 500
}

.TimelineEntryActivity-gTI6a .desc>li {
	display: flex;
	text-align: justify
}

.TimelineEntryActivity-gTI6a .desc>li:before {
	content: '-';
	margin-right: 3px
}

.TimelineEntryActivity-gTI6a .meta .separator {
	margin: 0 5px
}

.TimelineEntryActivity-gTI6a .meta>span {
	margin-right: 0px
}

.TimelineEntryEducation-q3gJy {
	margin-bottom: 0px
}

.TimelineEntryEducation-q3gJy .time {
	display: inline-block;
	width: 84px
}

.TimelineEntryEmployment-XE0s3 {
	margin-bottom: 7px
}

.TimelineEntryEmployment-XE0s3 .desc .item-2 {
	padding-left: 12px
}

.TimelineEntryEmployment-XE0s3 .desc b {
	font-weight: 500
}

.TimelineEntryEmployment-XE0s3 .desc>li {
	display: flex;
	text-align: justify
}

.TimelineEntryEmployment-XE0s3 .desc>li:before {
	content: '•';
	margin-right: 3px
}

.TimelineEntryEmployment-XE0s3 .meta .separator {
	margin: 0 5px
}

.TimelineEntryEmployment-XE0s3 .meta>span {
	margin-right: 0px
}

.timeline-n7V26 a {
	color: black
}

.timeline-n7V26 a:visited {
	color: black
}

.timeline-n7V26 b {
	color: #1b1b1b
}

.timeline-n7V26 b:visited {
	color: #1b1b1b
}

.timeline-n7V26 .timeline-section {
	margin-bottom: 29px
}

.timeline-n7V26 .section-title {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 8px
}

.timeline-n7V26 .url {
	font-size: 12px;
	margin-bottom: 2px
}

.timeline-n7V26 .actName {
	font-weight: 500
}

.wrap-mvKEP {
	display: flex;
	min-height: 100%;
	justify-content: center;
	padding: 15px;
    min-width: 1000px;
    background-color: rgb(255, 253, 253);
}

.wrap-mvKEP>div {
    padding: 34px 0 20px 0;
}

.wrap-mvKEP .summary-wrapper {
	background-color: rgb(245, 245, 245);
	flex-shrink: 0;
	width: 260px
}

.wrap-mvKEP .body-wrapper {
	flex-shrink: 0;
	margin-left: 16px;
	margin-bottom: 16px;
    width: 580px;
}

.wrap-mvKEP .body-wrapper .head-title {
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 2;
	letter-spacing: 1px;
	text-align: center
}

.wrap-mvKEP .body-wrapper .head-title-divider {
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 35px;
	text-align: center
}

@media only screen and (max-width: 600px) {
	.wrap-mvKEP {
		min-width: 320px;
		padding: 0;
		display: block
	}
	.wrap-mvKEP>div {
		margin-bottom: 21px
	}
	.wrap-mvKEP .summary-wrapper {
		display: flex;
		justify-content: center;
		width: 100%
	}
	.wrap-mvKEP .body-wrapper {
		flex-shrink: 0;
		margin-left: 0px;
		padding: 0 14px;
		width: 100%
	}
}


/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
footer,
header,
nav,
section {
	display: block
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

figcaption,
figure,
main {
	display: block
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: inherit
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

dfn {
	font-style: italic
}

mark {
	background-color: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

audio,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: 0.35em 0.75em 0.625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	display: inline-block;
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details,
menu {
	display: block
}

summary {
	display: list-item
}

canvas {
	display: inline-block
}

template {
	display: none
}

[hidden] {
	display: none
}

* {
	box-sizing: border-box
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-size: 14px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.4;
	min-width: 320px
}

p {
	margin: 0;
	padding: 0
}

a {
	text-decoration: underline;
	color: #7f7b66
}

a:visited {
	color: #7f7b66
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0
}

.weight-500 {
	font-weight: 500
}